p {
  font-family: "Helvetica Neue", Arial, sans-serif; }

#siteTitle {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 72px; }

#entireSite {
  text-align: center; }

#subTitle {
  font-family: Menlo, Inconsolata, Consolas, "Courier New", monospace; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

header {
  width: 100%; }

img {
  width: 50px;
  height: 50px; }

table.center {
  margin-left: auto;
  margin-right: auto; }

.black-links {
  color: black; }

/*# sourceMappingURL=main.css.map */
